@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wa5v0m');
  src:  url('fonts/icomoon.eot?wa5v0m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wa5v0m') format('truetype'),
    url('fonts/icomoon.woff?wa5v0m') format('woff'),
    url('fonts/icomoon.svg?wa5v0m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accessibility:before {
  content: "\e900";
}
.icon-add:before {
  content: "\e901";
}
.icon-album:before {
  content: "\e902";
}
.icon-app_store:before {
  content: "\e903";
}
.icon-ar:before {
  content: "\e904";
}
.icon-ar2:before {
  content: "\e905";
}
.icon-arrow-back:before {
  content: "\e906";
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-arrow-full-down:before {
  content: "\e908";
}
.icon-arrow-full-left:before {
  content: "\e909";
}
.icon-arrow-full-right:before {
  content: "\e90a";
}
.icon-arrow-full-up:before {
  content: "\e90b";
}
.icon-arrow-next:before {
  content: "\e90c";
}
.icon-arrow-up:before {
  content: "\e90d";
}
.icon-audio:before {
  content: "\e90e";
}
.icon-audio-next:before {
  content: "\e90f";
}
.icon-audio-previous:before {
  content: "\e910";
}
.icon-biggggidea:before {
  content: "\e911";
}
.icon-book:before {
  content: "\e912";
}
.icon-book-music:before {
  content: "\e913";
}
.icon-burger:before {
  content: "\e914";
}
.icon-check:before {
  content: "\e915";
}
.icon-cross:before {
  content: "\e916";
}
.icon-crypto_shagy:before {
  content: "\e917";
}
.icon-crypto_yachki:before {
  content: "\e918";
}
.icon-Doge:before {
  content: "\e919";
}
.icon-edit:before {
  content: "\e91a";
}
.icon-google_play:before {
  content: "\e91b";
}
.icon-gps:before {
  content: "\e91c";
}
.icon-home:before {
  content: "\e91d";
}
.icon-hryvnya:before {
  content: "\e91e";
}
.icon-instagram:before {
  content: "\e91f";
}
.icon-list:before {
  content: "\e920";
}
.icon-list-music:before {
  content: "\e921";
}
.icon-loading:before {
  content: "\e922";
}
.icon-mode-dial:before {
  content: "\e923";
}
.icon-moon:before {
  content: "\e924";
}
.icon-paint1:before {
  content: "\e925";
}
.icon-paint2:before {
  content: "\e926";
}
.icon-paint3:before {
  content: "\e927";
}
.icon-pause:before {
  content: "\e928";
}
.icon-people:before {
  content: "\e929";
}
.icon-person:before {
  content: "\e92a";
}
.icon-pin:before {
  content: "\e92b";
}
.icon-play:before {
  content: "\e92c";
}
.icon-point:before {
  content: "\e92d";
}
.icon-question_mark:before {
  content: "\e92e";
}
.icon-read:before {
  content: "\e92f";
}
.icon-reload:before {
  content: "\e930";
}
.icon-remove:before {
  content: "\e931";
}
.icon-schedule:before {
  content: "\e932";
}
.icon-scissors:before {
  content: "\e933";
}
.icon-settings:before {
  content: "\e934";
}
.icon-sound:before {
  content: "\e935";
}
.icon-speach_bubble:before {
  content: "\e936";
}
.icon-sun:before {
  content: "\e937";
}
.icon-telegram-plane:before {
  content: "\e938";
}
.icon-trash:before {
  content: "\e939";
}
.icon-viber:before {
  content: "\e93a";
}
.icon-wifi:before {
  content: "\e93b";
}
.icon-yachki:before {
  content: "\e93c";
}
